@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Tools</h1>
    <p>Learn about <a href="https://www.sber.ru">Sber</a>.</p>
</div>


@*    <form action="Calc" method="post">
        A:
        <input type="text" name="Number1" />
        <br />
        B:
        <input type="text" name="Number2" />
        <br />
        @ViewBag.Result;
        <br />
        <input type="submit" name="Op" value="+" />
        <input type="submit" name="Op" value="-" />
        <input type="submit" name="Op" value="*" />
        <input type="submit" name="Op" value="/" />
    </form>*@
